<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	
	<th th:fragment="column_link(fieldName, columnLabel)">
	<a class="text-white"
		th:href="@{'/users/page/' + ${currentPage} + '?sortField=' + ${fieldName} +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keywords != null ? '&keywords=' + keywords : ''}}">
			[[${columnLabel}]]</a>
		
		<span th:if="${sortField == fieldName}" th:class="${sortDir == 'asc' ? 'fa-solid fa-arrow-up' : 'fa-solid fa-arrow-down'}"></span>
	</th>
	
</body>
</html>