<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width-device,initial-scale=1.0,minimum-scale=1.0">
<title>Home - Shopme Admin</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{https://kit.fontawesome.com/9a13e85c91.js}" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
			<div>
				<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
					<a class="navbar-brand" th:href="@{/}"> 
					<img alt="" th:src="@{/images/ShopmeAdminSmall.png}">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" th:href="@{/users}">Users</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/categories}">Categories</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/brands}">Brands</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/products}">Products</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/customers}">Customers</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/shipping}">Orders</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/report}">Sales Report</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/articles}">Articles</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/menus}">Menus</a>
							</li>
							
								<li class="nav-item">
								<a class="nav-link" th:href="@{/settings}">Settings</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
	</div>
	
	
	<div>
		<h2 class="mt-4 mx-3">Manage Users</h2>
		<a th:href="@{/users/new}" class="ml-4">Create new user</a>
		
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[ ${message} ]]
		</div>
		
		<div class="container bg-light">
			<table class="table table-responsive-lg table-bordered table-striped table-hover ">
				<thead class="thead-dark">
					<tr>
						<th scope="col">UserID</th>	
						<th scope="col">Photo</th>
						<th scope="col">Email</th>				
						<th scope="col">First Name</th>			
						<th scope="col">Last Name</th>
						<th scope="col">Roles</th>
						<th scope="col">Enable</th>
					</tr>	
				</thead>
				<tbody>
					<tr th:each="user : ${ listUsers }">
						  <td>[[ ${user.id} ]]</td>
					      <td><i class="fa-solid fa-user"></i></td>
					      <td>[[ ${user.email} ]]</td>
					      <td>[[ ${user.firstName} ]]</td>
					      <td>[[ ${user.lastName} ]]</td>
					      <td>[[ ${user.roles} ]]</td>
					      <td>
					     	<a th:if="${user.enable == true}"><i class="fa-solid fa-check icon-green"></i></a>
					     	<a th:if="${user.enable == false}"><i class="fa-solid fa-xmark"></i></i></a>
					      
					      </td>
					      <td>
					     	<a th:href="@{'/users/edit/' + ${user.id}}"><i class="fa-solid fa-pen-to-square icon-blue"></i></a>
					      </td>
					      <td>
					      	<a><i class="fa-solid fa-circle-minus icon-red"></i></a>
					      </td>
					    
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<!-- 
	<div class="">
		<p>Shopme control panel -Copyright &copy; Shopme</p>
	</div> -->
</body>
</html>